[Desktop Entry]
Name=Launch Tethered
Version=v0.0.1
Icon=/home/dev/gs32/tether_switcher/qgroundcontrol.png
Exec=python3 /home/gs32/dev/tether_switcher/set_tether.py
Terminal=true
Type=Application
