[Desktop Entry]
Name=Launch Free Flying
Version=v0.0.1
Icon=/home/ripxorip/Downloads/staging/qgroundcontrol.png
Exec=python3 /home/ripxorip/dev/tether_switcher/set_freeflying.py
Terminal=true
Type=Application
